#player {
    --xCoord: 0;
    --yCoord: 0;
    background: url('assets/Player.png');
    width: 96px;
    height: 144px;
    position: absolute;
    left: calc(var(--xCoord) * 1px);
    top: calc(var(--yCoord) * 1px);
}

#game {
    width: 1000px;
    height: 600px;
    border: 2px;
    color: black;
    border-style: solid;
}
#ground{
    width:120px;
    height:100px;
    background: black;
    position:absolute;
    top: 302px;
    left: 100px;
}
#platform{
    width:120px;
    height:20px;
    background: black;
    position:absolute;
    top: 402px;
    left: 400px;
}

div {
    color: white;
}

body{
    margin:0;
}